{% extends 'base.html' %}
{% block title %}Midwife profile{% endblock %}
{% block content %}
{% include 'profile_form.html' with profile_icon='fa-user-nurse' hero_title='Care for every maternal journey' hero_text='Set up your professional profile so families and care teams can work with confidence.' form_title='Midwife registration details' form_subtitle='Provide your license and service-area information.' submit_label='Complete registration' verification_note='Your professional profile will be reviewed for verification.' %}
{% endblock %}
